In [66]:
import os
import csv

universites = []

# parse clean data
with open("data/universites.csv", "r") as f:
    data = csv.reader(f)
    
    for i, row in enumerate(data):
        if i == 0:
            years = [r for j, r in enumerate(row) if j > 1]
        else :
            univ = {
                "name" : row[0],
                "created" : row[1]
            }
            
            for j,year in enumerate(years):
                univ[year] = row[j]
            
        universites.append(univ)

In [78]:
# parse clean data using panda

import pandas as pd
import numpy as np

df = pd.read_csv(open("data/universites.csv", "r"))
df = df.fillna(value="0")

# turn into time series
# can not be converted to time series - see http://stackoverflow.com/questions/32888124/pandas-out-of-bounds-nanosecond-timestamp-after-offset-rollforward-plus-adding-a


df.head()


# remove M: from values
# for key in df :
#     if key not in ["Université", "Date de fondation"]: 
# #         print df[key]
#         df[key] = df[key].astype(np.str).str.replace("\s", "").str.replace("M", "").str.replace(":", "").astype(np.float)

,Université,Date de fondation,1200,1225,1250,1270,1275,1300,1325,1350,...,1760,1764,1766,1770,1775,1780,1785,1790,1800,1810
0,Aberdeen,1494,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Abo,1640,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Aix-en-Provence,1409,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Alcalà de Henares,1499,0,0,0,0,0,0,0,0,...,M : 847,0,0,M : 783,0,M : 519,0,M : 492,M : 542,0
4,Almagro,1550,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [70]:
%matplotlib inline
import matplotlib.pyplot as plt

df_info = pd.read_csv(open("data/universites-info.csv", "r"))
df_info.head()

,Université,Nom francisé,Pays,Date de fondation,Date de confirmation,Date de fermeture,Réouverture,Fermeture,Réouverture.1,Fermeture.1,Confession,Origine,Créateur,Fac Théologie,Fac Médecine,Fac Droit Canon,Fac droit Civil,Fac Art/philo,Unnamed: 18
0,Aberdeen,Aberdeen,Ecosse,1494,Bulle papale : 1494,NaN,NaN,NaN,NaN,NaN,Catholique ; Prebysterien : 1560,Création ecclésiastique,"William Elphinstone, Evèque d'Aberdeen : 1494 ...",Ouv,Ouv,Ouv,Ouv,Ouv,NaN
1,Abo,"Turku, Finlande",Royaume de Suède,1640,NaN,NaN,NaN,NaN,NaN,NaN,Luthérien,Création princière,Pierre de Brahé,Ouv,Ouv,Ouv,Ouv,Ouv,NaN
2,Aix-en-Provence,NaN,Provence : 1409 ; Royaume de France : 1486,1409,Bulle papale : 1409,1793,NaN,NaN,NaN,NaN,Catholique,Création princière,Louis II d'Anjou,Ouv,Ouv : 1562,Ouv,Ouv,Ouv,NaN
3,Alcalà de Henares,NaN,Royaume des deux Espagnes : 1499 ; Royaume d'E...,1499,Bulle papale : 1499 ; Début : 1508 ; Bulle pap...,NaN,NaN,NaN,NaN,NaN,Catholique,Création ecclésiastique,Cardinal Jimenez de Cisneros,Ouv,Ouv : 1514,Ouv,Ouv : 1772,Ouv,NaN
4,Almagro,NaN,Royaume des deux Espagnes : 1550 ; Royaume d'E...,1550,Bulle papale : 1552,1807,NaN,NaN,NaN,NaN,Catholique,Création ecclésiastique,Couvent dominicain,Ouv,Abs,Abs,Abs,Ouv,NaN